.container {
	font-family: sans-serif;
	background-color: rgb(201, 189, 174);
	display: grid;
	width: 100%;
	grid-template-areas:
		" user contact contact"
		" post contact contact";
	/* grid-template-rows: 1fr 2fr 2fr;
	grid-template-columns: 1fr 1fr; */
}
.user {
	grid-area: user;
}
.post {
	grid-area: post;
}
.contacts {
	grid-area: contact;
}
