.navBar {
    height: 50px;
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(124, 223, 223)
}

.navButton {
    height: 20px;
    margin: auto;
    margin-left: 0px;
    margin-right: 20px;
    font-size:x-small
}