.container {
    display:grid;
    
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
    "navbar navbar navbar navbar"
    "profile profile profile usercard"
    "posts posts posts usercard"
    "posts posts posts usercard";
    column-gap: 15px;
    row-gap: 15px;
}
.nav {
    grid-area: navbar;
    background-color: lightskyblue;
    text-align: right;
}
.user {
    grid-area: profile;

    text-align: left;
    border: 1px solid black; 
}
.card {
    grid-area: usercard;
    text-align: left;
    border: 1px solid black; 
}
.user-image {
    text-align: left;

}
.post {
    grid-area: posts;
    color: blue;
    text-align: center;
    background-color: antiquewhite;
    border: 1px solid black; 
};
.back-post {
   
    text-align: center;
    border: 1px solid black;
};
.card-image {
    text-align: left;

}
